
<div class="container">
    <div class="row">
        <div class="banner-info">
            <div class="banner-logo text-center">
                <img src="~/img/logo1.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
                <h1 class="white">CALIFORNIAN HEALTH</h1>
                <p>Healthcare at your desk</p>
                <a href="~/Booking/ConsultantCalendar" class="btn btn-appoint">Make an Appointment.</a>
            </div>
            <div class="overlay-detail text-center">
                <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>
</div>