@{
    
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Californian Health</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <!-- jsCalendar CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/jsCalendar/jsCalendar.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/evo/evo-calendar.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/evo/evo-calendar.royal-navy.min.css"/>


    <!-- JS Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    
    <!-- jsCalendar JS -->
    <script type="text/javascript" src="~/js/jsCalendar/jsCalendar.min.js"></script>
    <script type="text/javascript" src="~/js/evo/evo-calendar.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!--banner-->
    <section id="banner" class="banner">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><img src="~/img/logo1.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/#banner">Home</a></li>
                                <li class=""><a href="/#service">Services</a></li>
                                <li class=""><a href="/#doctor-team">Our Team</a></li>
                                <li class=""><a href="/#contact">Contact</a></li>
                                @await Html.PartialAsync("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            @if(ViewBag.HideBanner == null || ViewBag.HideBanner == false)
            {
                @await Html.PartialAsync("_Banner")
            } else
            {
                <style>
                    #banner, .bg-color {
                        min-height: 100px;
                    }
                </style>
            }
        </div>
    </section>
    <!--/ banner-->
    @RenderBody()
    <!--footer-->
    <footer id="footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">About Us</h4>
                        </div>
                        <div class="info-sec">
                            <p>Californian Health are a group of world-class, award-winning private hospitals, specialist clinics, outpatients and diagnostics centres and private GP services spread all across the United Kingdom.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Quick Links</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="quick-info">
                                <li><a href="/"><i class="fa fa-circle"></i>Home</a></li>
                                <li><a href="/#service"><i class="fa fa-circle"></i>Service</a></li>
                                <li><a href="/#contact"><i class="fa fa-circle"></i>Appointment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Follow us</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="social-icon">
                                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        © Californian Health. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer-->

    @* <script src="~/contactform/contactform.js"></script> *@
    

    <!-- Custom js -->
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>