<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 - Not Found</title>
</head>
<body>
    <section id="service" class="section-padding">
        <div class="container">
            <div class="row">
                <h1>Oups... Nothing to find here</h1>
                <p>Error 404</p>
            </div>
        </div>
    </section>
</body>
</html>
