<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 - Not Found</title>
</head>
<body>
    <hgroup>
        <h1>Oups... Nothing to find here</h1>
        <p>Error 404</p>
    </hgroup>
</body>
</html>
